<div class="dashboard__post">
  <h4><a href="/dashboard/edit/{{id}}">{{title}}</a></h4>
  <p>{{content}}</p>
  <p class="post__auth">Posted by
    <span>{{user.username}}</span>
    on
    {{format_date created_at}}</p>
</div>